body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

main {
  padding: 10px;
  position: relative;
  min-height: calc(100vh - 50px); }

#selectServicio {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white; }

#loading {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: silver;
  display: none; }
  #loading.show {
    display: flex; }
  #loading img {
    animation: spin 1.5s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#selectServicio > div > h2 {
  color: #134013; }

#selectServicio > div > button {
  border: 1.5px solid #134013;
  border-radius: 5px;
  color: #134013;
  background-color: #f6fbf2;
  padding: 5px 8px;
  width: 70%;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none; }

#selectServicio > div > button:hover,
#btn-add:hover, #btn-buscar:hover {
  background-color: #bde1a6; }

#selectServicio > div > button:active,
#btn-add:active, #btn-buscar:active {
  background-color: #134013;
  color: #f6fbf2; }

header {
  background-color: #134013;
  color: #f89b1f;
  font-size: 40px;
  text-align: center;
  padding: 5px 0;
  height: 50px; }

#formularios {
  margin: 10px 0;
  display: flex;
  justify-content: space-between; }

#newTienda {
  color: #134013;
  font-size: 20px; }

#divAddForm {
  height: 0;
  overflow: hidden;
  transition: height 0.5s; }

#addTienda, .tienda {
  border: 1px solid #134013;
  border-radius: 10px;
  padding: 10px; }

#newEmpresa {
  color: #567f3d;
  font-size: 30px; }

.divForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.divForm > .campo {
  margin: 4px 0;
  width: calc(50% - 2.5px); }

.campo input {
  display: block;
  width: 100%;
  box-sizing: border-box; }

input {
  border: 1.5px solid #134013;
  border-radius: 5px;
  outline: none; }

small {
  color: red; }

#divBtnAdd {
  text-align: right; }

#btn-add, #btn-buscar {
  border: 1.5px solid #134013;
  border-radius: 5px;
  color: #134013;
  background-color: #f6fbf2;
  padding: 5px 8px;
  cursor: pointer;
  outline: none; }

.tienda {
  margin-top: 10px; }

.nombreTienda {
  color: #134013;
  font-size: 25px; }
