$verdeFuerte: #134013;
$verdeFlojo: #daeecc;
$verdeMedio: #bde1a6;

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main
{
    padding: 10px;
}

#selectServicio
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#selectServicio > div > h2
{
    color: $verdeFuerte;
}

#selectServicio > div > button
{
    border: 1.5px solid $verdeFuerte;
    border-radius: 5px;
    color: $verdeFuerte;
    background-color: $verdeFlojo;
    padding: 5px 8px;
    width: 70%;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
}

#selectServicio > div > button:hover, 
#btn-add:hover, #btn-buscar:hover
{
    background-color: $verdeMedio;
}

#selectServicio > div > button:active, 
#btn-add:active, #btn-buscar:active
{
    background-color: $verdeFuerte;
    color: $verdeFlojo;
}

header
{
    background-color: $verdeFuerte;
    color: #f89b1f;
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
}

#formularios
{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

#newTienda
{
    color: $verdeFuerte;
    font-size: 20px;
}

#divAddForm
{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

#addTienda, .tienda
{
    border: 1px solid $verdeFuerte;
    border-radius: 10px;
    padding: 10px;
}

#newEmpresa
{
    color: rgb(86, 127, 61);
    font-size: 30px;
}

.divForm
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divForm > .campo
{
    margin: 4px 0;
    width: calc(50% - 2.5px);
}

.campo input
{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input
{
    border: 1.5px solid $verdeFuerte;
    border-radius: 5px;
    outline: none;
}

small
{
    color: red;
}

#divBtnAdd
{
    text-align: right;
}

#btn-add, #btn-buscar
{
    border: 1.5px solid $verdeFuerte;
    border-radius: 5px;
    color: $verdeFuerte;
    background-color: $verdeFlojo;
    padding: 5px 8px;
    cursor: pointer;
    outline: none;
}

.tienda
{
    margin-top: 10px;
}

.nombreTienda
{
    color: $verdeFuerte;
    font-size: 25px;
}