$verdeFuerte: #134013;

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#selectServicio
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header
{
    background-color: $verdeFuerte;
    color: #f89b1f;
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
}

#newTienda
{
    color: $verdeFuerte;
    font-size: 20px;
}

#addTienda, .tienda
{
    border: 1px solid $verdeFuerte;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#newEmpresa
{
    color: rgb(86, 127, 61);
    font-size: 30px;
}

.divForm
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#btn-add, #btn-buscar
{
    border: 1.5px solid $verdeFuerte;
    border-radius: 5px;
    color: $verdeFuerte;
    padding: 5px 8px;
}

.nombreTienda
{
    color: $verdeFuerte;
    font-size: 25px;
}